body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: rgb(34, 34, 34);
}

.container {
    margin: 0 auto;
    max-width: 300px;
    padding: 20px;
    border-radius: 5px;
}

span{
    color:white;
    font-weight: bold;
}
h1{
    color:white;
    font-weight: bold;
}

#result{
 color:white;
 font-weight: bold;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 20px;
    opacity: 0;
    animation: fadeInScale 2s forwards;
}

.win-counters-container {
    display: flex;
    justify-content: space-between;
}

#win-counter-x{
    font-weight: bold;
    color: rgb(231, 55, 55);
}

#win-counter-o{
    font-weight: bold;
    color: rgb(71, 71, 209);
}

@keyframes fadeInScale {
    0% {
        opacity: 0;
        transform: scale(1.2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.cell {
    width: calc(100px - 2px);
    height: calc(100px - 2px);
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(56, 56, 56);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    border-radius: 10px;
}

.center {
    width: 180px;
    height: 60px;
    position: absolute;
  }

.btn {
    width: 180px;
    height: 60px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #91C9FF;
    transition: 1s ease-in-out;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    color: #000;
  }

svg {
    position: absolute;
    left: 50%;
    top: 50%;
    fill: none;
    stroke: #fff;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

.btn:hover {
    transition: 1s ease-in-out;
    background: #4F95DA;
  }
  
  .btn:hover svg {
    stroke-dashoffset: -480;
  }
  


.result {
    margin-top: 20px;
    font-weight: bold;
}

@media (max-width: 500px) {
    .board {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5px;
    }

    .cell {
        width: calc(50px - 2px);
        height: calc(50px - 2px);
    }
}
